/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 5px 0 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-size: 14px;
	background: #eeeeee;
	color: #333333;
	width: 94%;
	margin: 0 auto;
}

#todoapp {
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
}

#todoapp h1 {
	font-size: 36px;
	text-align: center;
}

#todoapp input[type="text"] {
	width: 80%;
	font-size: 20px;
	line-height: 1em;
	padding: 10px;
}

#main {
	display: none;
}

#todo-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#todo-list li {
	padding: 15px 20px 15px 0;
	position: relative;
	font-size: 20px;
	border-bottom: 1px solid #cccccc;
}

#todo-list li .completed-true  {
    color: #ccc;
    margin-left: 30px;
    text-decoration: line-through;
}

#todo-list li .completed-false  {
    margin-left: 30px;
}

.delete.icon {
	width: 20px;
	height: 20px;
	background-image: url("../img/x.gif");
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 15px;
	cursor: pointer;
}

li.focus {
	background-color: #eee;
}

select {
    padding:3px;
    background: #f8f8f8;
    color:#888;
    appearance:none;
    cursor:pointer;
    width: 7%;
    margin: 10px;
    height: 28px;
}

.priority {
	width: 10%;
	height: 20px;
	display: inline-block;
	position: absolute;
	right: 25px;
	top: 15px;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #777;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4em;
}

.priority.medium {
	background-color: #FFCB00;
}

.priority.high {
	background-color: red;
}