<!DOCTYPE html>
<html ng-app='todo'>
    <head>
        <title>To Do list in Angular JS</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <script type="text/javascript" src="js/lib/angular.min.js"></script>
    </head>
    <body>
        <div id="todoapp" ng-controller="ToDoCtrl">
            <!--Add Task-->
            <div id="">
                <input type="text" name="add-task" class='add task' placeholder="Add your task here" ng-model="taskName" ng-keyup="addTask()"/>
                <select ng-model="priority">
                    <option value='normal'>Normal</option>
                    <option value='medium'>Medium</option>
                    <option value='high'>High</option>
                </select>
            </div>
            
            <!--Task list-->
            <ul id="todo-list">
                <li ng-repeat="task in tasklist track by $index" ng-mouseenter="task.show = true; item= 'focus'" ng-mouseleave="task.show = false; item = 'nofocus'" ng-class='item'>
                    <input type="checkbox" name="checkbox" ng-model="task.completed" ng-checked="completeTask()"/>
                    <span class="completed-{{task.completed}}">{{task.name}}</span>
                    <span class="priority {{task.priority}}">{{task.priority}}</span>
                    <span class="delete icon" title="Delete Task" ng-show="task.show" ng-click="deleteTask(tasklist.indexOf(task))"></span>
                </li>
            </ul>
        </div>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>